<!DOCTYPE html>
<html>
<head>
  <title>Todos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
	<header>
		<div id="current_user">
			<% if current_user %>
				<img id="profile_pic" src="<%= current_user.image %>">
				Welcome <%= current_user.name %>!
				<br/>
				<%= link_to "Sign Out", signout_path %>
			<% else %>
				<%= link_to image_tag("twitter_button.png"), "/auth/twitter" %>
			<% end %>
		</div>
	</header>
</div>

<%= yield %>

</body>
</html>
